# CLASSES

In [1]:
class Employee:
  def __init__(self,first,last,pay):
    self.first = first
    self.last = last 
    self.pay = pay
    self.email=first + '.' + last + '@company.com'

  def fullname(self):
    return '{} {}'.format(self.first,self.last)


emp1=Employee('vaibhav','kunal',200)
emp2=Employee('kunak','vaibhav',5000)

print(emp1.email)
print(emp2.fullname())
print(Employee.fullname(emp1))

vaibhav.kunal@company.com
kunak vaibhav
vaibhav kunal

In [2]:
class Employee:
  num_of_emps=0
  raise_amount =1.04
  def __init__(self,first,last,pay):
    self.first = first
    self.last = last 
    self.pay = pay
    self.email=first + '.' + last + '@company.com'
    Employee.num_of_emps +=1

  def fullname(self):
    return '{} {}'.format(self.first,self.last)

  def apply_raise(self):
    self.pay = int(self.pay * self.raise_amount)


emp1=Employee('vaibhav','kunal',200)
emp2=Employee('kunak','vaibhav',5000)

print(Employee.num_of_emps)

2

#CLASS METHOD

In [3]:
class Employee:
  num_of_emps=0
  raise_amt =1.04
  def __init__(self,first,last,pay):
    self.first = first
    self.last = last 
    self.pay = pay
    self.email=first + '.' + last + '@company.com'
    Employee.num_of_emps +=1

  def fullname(self):
    return '{} {}'.format(self.first,self.last)

  def apply_raise(self):
    self.pay = int(self.pay * self.raise_amt)
# class method 
  @classmethod
  def set_raise_amt(cls,amount):
    cls.raise_amt = amount 

  @classmethod
  def from_string(cls,emp_str):
    first , last , pay = emp_str.split('-')
    return cls(first,last,pay)



emp1=Employee('vaibhav','kunal',200)
emp2=Employee('kunak','vaibhav',5000)
print(emp2.fullname())


emp_str_1 = 'john-Done-70000'
emp_str_2 = 'Steve-smith-5000'
emp_str_3 = 'kunal-pandta-5000'


new_amp_1=Employee.from_string(emp_str_1)


print(new_amp_1.email)

kunak vaibhav
john.Done@company.com

#Static method

In [4]:
class Employee:
  num_of_emps=0
  raise_amt =1.04
  def __init__(self,first,last,pay):
    self.first = first
    self.last = last 
    self.pay = pay
    self.email=first + '.' + last + '@company.com'
    Employee.num_of_emps +=1

  def fullname(self):
    return '{} {}'.format(self.first,self.last)

  def apply_raise(self):
    self.pay = int(self.pay * self.raise_amt)
# class method 
  @classmethod
  def set_raise_amt(cls,amount):
    cls.raise_amt = amount 

  @classmethod
  def from_string(cls,emp_str):
    first , last , pay = emp_str.split('-')
    return cls(first,last,pay)
# static method
  @staticmethod
  def is_workday(day):
    if day.weekday() == 5 or day.weekday() == 6:
      return False
    return True

import datetime
my_date = datetime.date(2016,7,10)
print(Employee.is_workday(my_date))

False

In [5]:
 class Employee:


  raise_amt =1.04
  def __init__(self,first,last,pay):
    self.first = first
    self.last = last 
    self.pay = pay
    self.email=first + '.' + last + '@company.com'
    

  def fullname(self):
    return '{} {}'.format(self.first,self.last)

  def apply_raise(self):
    self.pay = int(self.pay * self.raise_amt)

class Developer(Employee):
  raise_amt=1.10

  def __init__(self,first,last,pay,prog_lang):
    super().__init__(first,last,pay)
    self.prog_lang = prog_lang

class Manager(Employee):
  def __init__(self,first,last,pay,employees=None):
    super().__init__(first,last,pay)
    if employees is None:
      self.employees = []
    else:
      self.employees = employees  

  def add_amp(self,emp):
    if emp not in self.employees:
      self.employees.append(emp)
  def remove_amp(self , emp):
    if emp in self.employees:
      self.employees.remove(emp)    
  def print_emps(self):
    for emp in self.employees:
      print('--->',emp.fullname())

dev_1 =Developer('vaibhav','kunal',50000,'python')
dev_2 =Developer('rushi','game',6000,'java')

mgr_1 = Manager('Sue','Smith',90000,[dev_1])
print(mgr_1.email)
mgr_1.add_amp(dev_1)
mgr_1.print_emps()

# print(dev_1.email)
# print(dev_2.email)

print(dev_1.prog_lang)
dev_1.apply_raise()
print(dev_1.pay)

Sue.Smith@company.com
---> vaibhav kunal
python
55000

In [6]:
# single iheritance 
# hierarchial inheritance
# multiple inheritance
# multilevel inheritance

In [7]:
### single inheritanceeee
class Parent():

  def __init__(self,a):
    self.a=a
    
  def display(self):
    print("you are in parent class")
class Child(Parent):
  def __init__(self,a,b):
    super().__init__(a)
    self.b=b

  def greet(self):
    print("Goood after noon")

  def display(self):
    Parent.display(self)
    print("in child class")  
  

c = Child(20,10)
c.greet()  
c.display() 
print(c.a)
print(c.b)

print()

Goood after noon
you are in parent class
in child class
20
10

In [8]:
## multilevel
class GrandParent():
  def __init__(self, name):
    self.name=name
class Parent(GrandParent):
  def display(self):
    print(__class__.__name__)
class Child(Parent):
  def __init__(self,name,age):
    super().__init__(name)
    self.age=age
c = Child("Itv",10)
c.display()
print(c.name)
print(c.age)

Parent
Itv
10

In [10]:
#multilevel

class Parent1():
  def display(self):
    print(__class__.__name__)
class Parent2():
  def display(self):
    print(__class__.__name__)
class child(Parent1,Parent2) :
  pass


c=child()